langchain
langchain-community
langchain-text-splitters
langchain-ollama
lancedb
pypdf
openpyxl
unstructured
networkx
pandas
msoffcrypto-tool
langgraph
chainlit
flashrank
rank_bm25
langchain_experimental
fastapi
uvicorn[standard]
